
$black: #212121;

.projectApplication{
  *{
    margin: 0;
    padding: 0;
  }
  background: linear-gradient(#2D29E8,#452CE0);
  
  .application{
    font-size: 0.875rem;
  }
  .chooseType{
    color: #FFFFFF;
    max-width: 20rem
  }
  .point{
    input{
      display: none;
    }
    label::before {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: inherit;
        margin-right: .625rem;
        content: "";
        border: 2px solid #FFFFFFE5;
        border-radius: 5px;
        transform: rotate(45deg);
        margin-bottom: 0;
        vertical-align: middle;
        transition: 0.2s;
    }
    .checkpoint:hover{
      cursor: pointer;
    }
    input[type="checkbox"]:checked + label::before{
      content:"";
      background: #FFFFFF;
      text-align: center;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik05LjY2NjY3IDFMMy43MDgzMyA2Ljk1ODMzTDEgNC4yNSIgc3Ryb2tlPSIjMkQyOUU4IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2F...+');
    }
  }
  .continue{
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    width: 100%;
  }

}
